<%= form_for(@grocery) do |f| %>
  <% if @grocery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grocery.errors.count, "error") %> prohibited this grocery from being saved:</h2>

      <ul>
      <% @grocery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row field">
    <div class='form_element'>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row field expand">
    <div class='form_element'>
      <%= f.select :quantity, options_for_select(@grocery.options) %> 
    </div>
  </div>
  <div class="row field expand">
    <div class='form_element'>
      <%= f.select :resident_id, options_for_select(@residents.map{ |r| [r.username, r.id]}) %> 
    </div>
  </div>
  <div class="row actions expand">
    <div class='form_element'>
      <%= f.submit class: 'button expand' %>
    </div>
  </div>
  <div class='row'>
    <div class='form_element'>
      <%= link_to 'Back', groceries_path, class: 'button expand' %>
    </div>
  </div>
<% end %>
