<p id="notice"><%= notice %></p>

<h1 class='text-center'>What's in the fridge?</h1>
  <ol id="grocery-list" >
    <% @in_stock.each do |grocery| %>
      <li class='grocery in-stock' data-gid='<%= grocery.id %>'>
        <div class='row'>
          <div class='large-centered small-centered columns'>
            <%= link_to grocery.name, grocery_path(grocery) %>
          </div>
        </div>
      </li>
    <% end %>

    <% @running_low.each do |grocery| %>
      <li class='grocery running-low' data-gid='<%= grocery.id %>'>
        <div class='row'>
          <div class='large-centered small-centered columns'>
            <%= link_to grocery.name, grocery_path(grocery) %>
          </div>
        </div>
      </li>
    <% end %>

    <% @out_of_stock.each do |grocery| %>
      <li class='grocery out-of-stock' data-gid='<%= grocery.id %>'>
        <div class='row'>
          <div class='large-centered small-centered columns'>
            <%= link_to grocery.name, grocery_path(grocery) %>
          </div>
        </div>
      </li>
    <% end %>
  </ol>
<br>
<footer class='footer'>
<%= link_to 'Something new?', new_grocery_path, id: 'new-grocery' %>
</footer>
