<p id="notice"><%= notice %></p>

<h1 class='fridge-header'>What's in the fridge?</h1>

<table class='grocery-table'>
  <thead>
    <tr>
      <th class='less-header'></th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Owner</th>
      <th class='more-header'></th>
    </tr>
  </thead>

  <tbody>
    <% @groceries.each do |grocery| %>
      <tr data-gid="<%= grocery.id %>">
        <td class="less">-</td>
        <td><%= grocery.name %></td>
        <td id="<%= "#{grocery.id}-quantity" %>"><%= grocery.quantity %></td>
        <td><%= grocery.resident.try(:username) %></td>
        <td class="more">+</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Something new?', new_grocery_path, id: 'new-grocery' %>
