<p id="notice"><%= notice %></p>

<h1>Listing Groceries</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Owner</th>
      <th>Quantity</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groceries.each do |grocery| %>
      <tr data-gid="<%= grocery.id %>">
        <td class="less">-</td>
        <td><%= grocery.name %></td>
        <td><%= grocery.quantity %></td>
        <td><%= grocery.resident.try(:username) %></td>
        <td class="more">+</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grocery', new_grocery_path %>
