<p id="notice"><%= notice %></p>

<h1 class='fridge-header'>What's in the fridge?</h1>
  <ul data-role="listview" id="grocery-list" >
    <% @groceries.each do |grocery| %>
      <li class='grocery' data-gid='<%= grocery.id %>'>
        <%= grocery.name %>
      </li>
    <% end %>
  </ul>
<br>
<footer class='footer'>
<%= link_to 'Something new?', new_grocery_path, id: 'new-grocery' %>
<%= link_to 'Out of Stock!', controller: :groceries, action: :outofstock %>
</footer>
